
// title ====================================================================================================//

.title {
	font-weight: 900;
	@include adaptiveValue("font-size", 30, 24);
	line-height: 123.333333%; /* 37/30 */
}

// text ====================================================================================================//

.text {
}

// popup ====================================================================================================//

.popup__content{
	width: auto;
	padding: 0;
	@media (max-width: 767px) {
		width: 100%;
	}
}

.popup__text {
	@media (min-width: 767px) {
		transform: scale(1.5);
	}
	transform: scale(1.05);
	img {
		max-width: 100%;
		border-radius: 5px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.popup__close{
	display: none;
}