
.page {
	padding-bottom: 200px;
}

// main-screen ====================================================================================================//

.main-screen {
	display: flex;
	@include adaptiveValue("padding-top", 160, 80, 1170, 767, 1);
	background-color: #F4CB38;
	position: relative;
	@media (max-width: 767px) {
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: url('@img/main-screen/animals.png') right 0/ cover no-repeat;
			opacity: 0.4;
		}
	}
	
	&__content {
		@include adaptiveValue("padding-top", 120, 40);
		flex: 0 0 100%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__image-ibg {
		flex: 0 0 50%;
		transform: translate(-85%);
		left: -10%;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.content-main-screen {

	&__container {
		position: relative;
		z-index: 2;
	}

	&__body {
		width: 50%;
		@include adaptiveValue("padding-bottom", 310, 200);
		@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
		}
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 40, 28);
		line-height: 122.5%; /* 49/40 */
		@include adaptiveValue("padding-bottom", 24, 15);
	}

	&__text {
		@include adaptiveValue("font-size", 19, 14);
		line-height: 142.105263%; /* 27/19 */
		@include adaptiveValue("padding-bottom", 63, 50);
	}

	&__button {
		@include adaptiveValue("font-size", 17, 14);
		font-weight: 700;
		line-height: 123.529412%; /* 21/17 */
		color: #fff;
		padding: 23px 42px;
	}
}

.button {

	&_red {
		display: inline-block;
		background-color: #ed1c4e;;
		box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.42);
		border-radius: 110px;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #e10b41;
			box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.82);
			transform: skew(-2deg, 2deg);
		}
	}
}

// pets ====================================================================================================//

.pets {
	position: relative;
	z-index: 5;
	margin: -150px 0px 0px 50px;
	@media (max-width: 767px) {
		margin: -150px 0px 0px 20px;
	}

	&__container {
	}

	&__content {
		max-width: 550px;
		position: relative;
		@media (max-width: 767px) {
			max-width: 250px;
		}
	}
	
	&__item {
	}
}
.item-pets {
	display: block;
	padding: 20px 30px 40px 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	height: 208px;
	width: 220px;
	&:hover{
		.item-pets__image{
			transform: scale(1.1);
		}
		.item-pets__icon{
			transform: translate(5px);
		}
	}
	

	&__link {
		display: flex;
		align-items: center;
	}

	&__sub-title {
		margin-right: 12px;
		font-weight: 700;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 125%; /* 20/16 */
		&_r {
			color: #F07530;
		}
		&_g {
			color: #55BC31;
		}
	}

	&__icon {
		display: flex;
		transition: all 0.3s ease 0s;
	}

	&__image {
		transition: all 0.3s ease 0s;
	}
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	gap: 30px;
	padding-bottom: 25px;
}

/* Стрелки*/
.slick-arrow{
	position: absolute;
	top: 80px;
	z-index: 10;
	font-size: 0;
	height: 60px;
	width: 105px;
	opacity: 0.7;
	transition: all 0.3s ease 0s;
	&:hover{
		opacity: 1;
	}
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: -60px;
	background: url('@img/pets/icon/left.svg') 0 0 no-repeat;
	@media (max-width: 767px) {
		left: -50px;
	}
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: -85px;
	background: url('@img/pets/icon/right.svg') 0 0 no-repeat;
}

// why-choose-us ====================================================================================================//

.why-choose-us {
	@include adaptiveValue("padding-top", 130, 50);
	@include adaptiveValue("padding-bottom", 110, 40);

	&__container {
	}

	&__title {
		@include adaptiveValue("padding-bottom", 70, 35);
	}

	&__content {
		display: flex;
		@include adaptiveValue("gap", 30, 15);
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 0 1 33.333%;
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 27, 10);
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
}

.item-why-choose-us {

	&__icon {
	}

	&__body {
	}

	&__subtitle {
		font-weight: 900;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 120%; /* 24/20 */
		padding-bottom: 6px;
	}

	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 125%; /* 20/16 */
	}
}

// catalog ====================================================================================================//

.catalog {
	@include adaptiveValue("padding-top", 110, 40);
	@include adaptiveValue("padding-bottom", 75, 30);
	background-color: #FBF6ED;

	&__container {
	}

	&__title {
		@include adaptiveValue("padding-bottom", 50, 30);
	}

	&__button-block {
		display: flex;
		//gap: 15px;
		@include adaptiveValue("gap", 15, 10);
		flex-wrap: wrap;
		justify-content: space-between;
		@include adaptiveValue("padding-bottom", 70, 35);
	}

	&__content {
		display: flex;
		@include adaptiveValue("gap", 30, 10, 1170, 992, 2);
		flex-wrap: wrap;
		@media (max-width: 992px) {
			@include adaptiveValue("gap", 30, 10, 992, 320, 1);
			justify-content: space-around;
		}

	}

	&__item {
		flex: 0 1 31%;
		//padding: 30px 45px 45px 45px;
		@include adaptiveValue("padding-top", 30, 20);
		@include adaptiveValue("padding-bottom", 45, 25);
		@include adaptiveValue("padding-right", 45, 20, 1170, 992, 2);
		@include adaptiveValue("padding-left", 45, 20, 1170, 992, 2);
		@media (max-width: 992px) {
			@include adaptiveValue("padding-right", 45, 20, 992, 320, 1);
			@include adaptiveValue("padding-left", 45, 20, 992, 320, 1);
			flex: 0 1 40%;
		}
		@media (max-width: 700px) {
			flex: 0 1 100%;
		}
	}
}

///////////////////

.block-button {

	&__button {
		//padding: 16px 50px;
		width: 140px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #A9A9A9;
		border-radius: 100px;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 125%; /* 20/16 */
		color: #777777;
		opacity: .5;
		&[data-tabs-title] {
			opacity: 1;
			cursor: pointer;
			&:hover {
				background-color: #f7eedd;
				transform: skew(-2deg, 2deg);
			}
		}
		user-select: none;
		&._tab-active {
			background-color: #f52456;
			color: #fff;
			&:hover {
				background-color: #d30a3d;
			}
		}
		transition: all 0.3s ease 0s;

	}
}

///////////////////

.item-catalog {
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.08);
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	&:hover {
		transform: scale(1.07);
		box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.9);
		.prices-item-catalog__icon{
			transform: scale(1.8);
			box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.08);
		}
	}

	&__header {
		display: flex;
	}

	&__image {
		@include adaptiveValue("padding-bottom", 26, 20);
	}

	&__body {
	}

	&__prices {
	}
}

///////////////////

.item-catalog-header {
	@include adaptiveValue("padding-bottom", 26, 20);

	&__age {
		display: flex;
		align-items: center;
		@include adaptiveValue("padding-right", 20, 15);
	}

	&__icon {
		padding-right: 8px;
	}

	&__text {
		font-size: 13px;
		line-height: 123.076923%; /* 16/13 */
	}

	&__tribute {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}

	&__toilet {
	}
}

///////////////////

.body-item-catalog {

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 19, 16);
		line-height: 118.75%; /* 19/16 */
		@include adaptiveValue("padding-bottom", 15, 13);
	}

	&__text {
		@include adaptiveValue("font-size", 15, 13);
		line-height: 140%; /* 21/15 */
		@include adaptiveValue("padding-bottom", 20, 16);
	}

	&__feature {
		display: flex;
	}
}

///////////////////

.feature-body-item-catalog {
	text-transform: uppercase;
	font-size: 14px;
	@include adaptiveValue("padding-bottom", 40, 30);

	&__one {
		position: relative;
		margin-left: 13px;
		padding-right: 16px;
		&::after {
			content: '';
			position: absolute;
			top: 2px;
			left: -15px;
			height: 10px;
			width: 10px;
			background-color: #FF8A00;
			border-radius: 50%;
		}
	}

	&__two {
		position: relative;
		margin-left: 13px;
		&::after {
			content: '';
			position: absolute;
			top: 2px;
			left: -15px;
			height: 10px;
			width: 10px;
			background-color: #9250FE;
			border-radius: 50%;
		}
	}
}

///////////////////

.prices-item-catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__price {
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18);
		line-height: 122.727273%; /* 27/22 */
		color: #32B71D;
	}

	&__icon {
		transition: all 0.6s ease 0s;
	}
}

[hidden] {
	display: none;
}

// gallery ====================================================================================================//

.gallery {
	@include adaptiveValue("padding-top", 107, 40);

	&__container {
	}

	&__title {
		padding-bottom: 30px;
	}

	&__body {
		display: flex;
		margin: 0px 0px 0px -23px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	
	&__column {
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 50%;
		}
		&_3 {
			margin-top: -3px;
		}
	}

	&__item {
		position: relative;
		transition: all 0.5s ease 0s;
		opacity: .9;
		&:hover {
			opacity: 1;
			.gallery__icon{
				opacity: 1;
				cursor: pointer;
			}
		}
		img {
			//max-width: 100%;
			width: 108%;
		}
		&_1 {
			filter: drop-shadow(0px 5px 30px rgba(100, 89, 78, 0.33));
			&:hover{
				filter: drop-shadow(0px 5px 30px rgba(100, 89, 78, 0.8));
			}
		}
		&_2 {
			filter: drop-shadow(0px 5px 30px rgba(53, 206, 248, 0.41));
			&:hover{
				filter: drop-shadow(0px 5px 30px rgba(53, 206, 248, 0.9));
			}
		}
		&_3 {
			filter: drop-shadow(0px 5px 30px rgba(202, 190, 193, 0.78));
			&:hover{
				filter: drop-shadow(0px 5px 30px rgba(202, 190, 193, 0.9));
			}
		}
		&_4 {
			filter: drop-shadow(0px 5px 30px rgba(150, 96, 60, 0.49));
			&:hover{
				filter: drop-shadow(0px 5px 30px rgba(150, 96, 60, 0.8));
			}
		}
		&_5 {
			filter: drop-shadow(0px 8px 40px rgba(25, 94, 95, 0.46));
			&:hover{
				filter: drop-shadow(0px 8px 40px rgba(25, 94, 95, 0.8));
			}
		}
		&_6 {
			filter: drop-shadow(0px 5px 30px rgba(147, 112, 95, 0.47));
			&:hover{
				filter: drop-shadow(0px 5px 30px rgba(147, 112, 95, 0.8));
			}
		}
	}

	&__icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease 0s;
		opacity: 0;
		@media (max-width: 767px) {
			transform: scale(1.5)translate(-35%,-35%);
			//transform: translate(-50%);
		}
	}
}

// about ====================================================================================================//

.about {
	@include adaptiveValue("padding-top", 110, 40);
	@include adaptiveValue("padding-bottom", 150, 50);

	&__container {
	}

	&__body {
		display: flex;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 50%;
		@include adaptiveValue("padding-right", 50, 20, 1170, 992, 2);
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}

	&__image {
		flex: 0 1 50%;
		text-align: center;
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
		img {
			max-width: 100%;
		}
	}
}
.content-about {

	&__title {
		@include adaptiveValue("padding-bottom", 65, 30);
	}

	&__sub-title {
		font-weight: 900;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 120%; /* 24/20 */
		@include adaptiveValue("padding-bottom", 30, 20);
	}

	&__sub-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 150%; /* 24/16 */
		@include adaptiveValue("padding-bottom", 30, 20);
		p {
			&:not(:last-child){
				@include adaptiveValue("padding-bottom", 30, 15);
			}
		}
	}

	&__link {
		display: inline-block;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%; /* 24/16 */
		color: #F52456;
		transition: all 0.3s ease 0s;
		&:hover{
			color: #c90a39;
		}
	}
}

// questions ====================================================================================================//

.questions {
	@include adaptiveValue("padding-top", 135, 40);
	@include adaptiveValue("padding-bottom", 172, 40);
	//background: rgba(#fff, 0.9);
	background: url('@img/questions/bg.jpg') right 0/cover no-repeat;
	color: #FFFFFF;

	&__container {
	}

	&__body {
		max-width: 870px;
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 30, 26);
		line-height: 123.333333%; /* 37/30 */
		@include adaptiveValue("padding-bottom", 80, 40);
	}

	&__form {
	}

	&__input {
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 500;
		line-height: 122.222222%; /* 22/18 */
		color: #fff;
		background-color: transparent;
		height: 100%;
		width: 100%;
		padding: 0px 10px 2px 5px;
	}

	&__button {
		background: url('@img/questions/icon//arrow.svg') center no-repeat;
		height: 48px;
		width: 48px;
		background-color: #F52456;
		border-radius: 50%;
		font-size: 0;
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: -70px;
	}

	&__checkbox {
		background-color: #F52456;
		border-radius: 50%;
		padding-right: 100px;
	}
}
.questions-form {

	&__body {
	}
	
	&__box {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@media (max-width: 767px) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	
	&__item {
		flex: 0 1 45%;
		@include adaptiveValue("margin-bottom", 50, 0);
		height: 40px;
		position: relative;
		@media (max-width: 450px) {
			flex: 0 1 100%;
		}
		&::before{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0px;
			height: 1px;
			width: 100%;
			background-color: #fff;
		}
	}
	
	&__select{
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 500;
		line-height: 122.222222%; /* 22/18 */
		color: #fff;
		background-color: transparent;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0px;
			height: 1px;
			width: 100%;
			background-color: #fff;
		}
	}

	&__text-area {
		width: 100%;
		height: 136px;
		background-color: transparent;
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 500;
		line-height: 122.222222%; /* 22/18 */
		resize: none;
		color: #fff;
		padding: 0px 10px 2px 5px;
	}

	&__area-box{
		position: relative;
		width: calc(100% - 70px);
		@include adaptiveValue("margin-bottom", 50, 30);
		&::before{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0px;
			height: 1px;
			width: 100%;
			background-color: #fff;
		}
	}
	&__checkbox-box {
		display: flex;
		gap: 16px;
		font-weight: 500;
		font-size: 14px;
		line-height: 121.428571%; /* 17/14 */
		//color: #999999;
		opacity: .4;
		&:not(:last-child){
			padding-bottom: 14px;
		}
	}
}
